VITE_FIREBASE_API_KEY=AIzaSyD0OfHHFXYf90Ov2f7mwy3jGcVQO0sLL64
VITE_FIREBASE_AUTH_DOMAIN=hackproj-a8b50.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hackproj-a8b50
VITE_FIREBASE_STORAGE_BUCKET=hackproj-a8b50.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1083096440234
VITE_FIREBASE_APP_ID=1:1083096440234:web:150f24708721a1d0345fd3
VITE_CHAT_API_URL=https://sme-copilot-chat-1083096440234.asia-southeast1.run.app
